.duo-chat-loader {
  @apply gl-flex;
  @apply gl-text-gray-500;

  .transition {
    @include gl-prefers-reduced-motion-transition;
    transition: width 200ms $gl-easing-out-cubic;
  }

  .text-enter {
    @apply gl-opacity-0;
  }

  .text-enter-active {
    @include gl-prefers-reduced-motion-transition;
    transition: opacity 400ms $gl-easing-out-cubic; // we intentionally overlap this transition with .text-leave-active by 200ms
  }

  .text-enter-to {
    @apply gl-opacity-10;
  }

  .text-leave {
    @apply gl-opacity-10;
  }

  .text-leave-active {
    @include gl-prefers-reduced-motion-transition;
    transition: opacity 200ms $gl-easing-out-cubic;
  }

  .text-leave-to {
    @apply gl-opacity-0;
  }
}
