@import '../../variables';

.duo-chat-message {
  max-width: 90%;
  position: relative;
  border-radius: px-to-rem(20px);

  &:not(:last-child) {
    @apply gl-mb-4;
  }

  code {
    @apply gl-bg-gray-100;
  }

  pre {
    box-shadow: none !important;
    @apply gl-border gl-max-h-[60vh] gl-px-4 gl-py-3 gl-text-inherit;

    &::before,
    &::after {
      content: '';
      left: $gl-border-size-1;
      width: calc(100% - calc(2 * $gl-border-size-1));
      position: absolute;
      @apply gl-pointer-events-none gl-h-7 gl-rounded-b-base;
    }

    &.scrim-top {
      &::before {
        background: $duo-chat-scrim-gradient;
        top: $gl-border-size-1;
        @apply -gl-rotate-180;
      }
    }

    &.scrim-bottom {
      &::after {
        background: $duo-chat-scrim-gradient;
        bottom: $gl-border-size-1;
      }
    }
  }

  pre code {
    @apply gl-text-sm;
    @apply gl-leading-1;
    @apply gl-bg-transparent;
    white-space: inherit;
  }

  p:last-of-type {
    @apply gl-mb-0;
  }

  copy-code,
  insert-code-snippet {
    position: absolute;
    @apply gl-transition-all;
    @apply gl-opacity-0;
    right: $gl-spacing-scale-3;
    top: $gl-spacing-scale-3;
  }

  copy-code {
    margin-right: $gl-spacing-scale-8;
  }

  .js-markdown-code.markdown-code-block:hover {
    copy-code,
    copy-code:focus-within,
    insert-code-snippet,
    insert-code-snippet:focus-within {
      @apply gl-opacity-10;
    }
  }

  .has-error {
    margin-left: $gl-spacing-scale-6;
  }

  .error-icon {
    top: 14px;
    position: absolute;
  }
}

.insert-code-hidden {
  insert-code-snippet {
    display: none;
  }

  copy-code {
    margin-right: 0;
  }
}
