.gl-pagination {
  @apply gl-text-base;
  @apply gl-text-nowrap;

  ul {
    @apply gl-flex;
    @apply gl-pl-0;
    @apply gl-list-none;
    @apply gl-rounded-base;
  }

  a {
    color: var(--gl-action-neutral-foreground-color-default);
  }
}

.gl-pagination-item {
  @apply gl-flex;
  @apply gl-justify-center;
  @apply gl-p-3;
  @apply gl-leading-normal;
  @apply gl-rounded-base;
  @apply gl-no-underline;
  @apply gl-min-w-7;
  @apply gl-text-center;
  @apply gl-border-1;
  @apply gl-border-solid;
  @include gl-action-neutral-colors;
  @include gl-prefers-reduced-motion-transition;
  transition: color $gl-transition-duration-medium $gl-easing-out-cubic,
              background-color $gl-transition-duration-medium $gl-easing-out-cubic,
              border-color $gl-transition-duration-medium $gl-easing-out-cubic;

  &:hover {
    @apply gl-no-underline;
  }

  &:focus,
  &:active:focus {
    @apply gl-no-underline;
    @apply gl-focus;
  }

  &:active {
    @apply gl-no-underline;
  }

  &:not(.disabled).active {
    @include gl-action-selected-colors;
  }
}

.gl-pagination .disabled .gl-pagination-item {
  @apply gl-border-transparent;
  @apply gl-bg-transparent;
  color: var(--gl-action-disabled-foreground-color);
}
